.DS_Store
log/
simple_BACKUP_4865.html
simple_BASE_4865.html
simple_LOCAL_4865.html
simple_REMOTE_4865.html
simple.html.orig
simple_BACKUP_7997.html
simple_BASE_7997.html
simple_LOCAL_7997.html
simple_REMOTE_7997.html